# See liwo-deploy / docker-compose.yml - environment section for actual values
# replace user:password with actual username and password for the database
DEBUG=True
SQLALCHEMY_DATABASE_URI=postgresql://user:password@localhost:5434/liwo
PGPASSWORD=
WEBSERVICE_URL=http://localhost:5001/liwo.ws/
DATA_DIR=
# PORT=5001 # Port is handled in the start command: pixi run start runs it on 5001 bij default to integrate with the docker
